<%- include('./includes/header') %>

<main>
    <h2>Karasuno Blog</h2>

    <div class="tools">
        <span>Recent</span>
        <span>Views</span>
    </div>
    <div class="post-container">
        <% for( let index = 0; index < blogs.length; index++ ) { %>
            <a class="post-link" href="pages/<%= blogs[index]._id %>">
                <div class="blog">
                    <div class="img"><img
                            src="/images/Kiyoko.png"
                            alt=""></div>
                    <h3>
                        <%= blogs[index].title %>
                    </h3>
                    <p>
                        <%= blogs[index].description %>
                    </p>
                </div>
            </a>
        <% } %>

    </div>

</main>


<%- include('./includes/footer') %>