<%- include('./includes/header') %>

<main>
    <h2>Meet the Team</h2>
    <div class="players">
        <% for( let index = 0; index < players.length; index++ ) { %>
                <div class="card">
                    <img src=<%= players[index].src %>
                        alt="<%= players[index].name %>">
                    <div class="role">
                        <h3><%= players[index].name %></h3>
                        <p><%= players[index].position %></p>
                    </div>
                </div>
        <% } %>
    </div>
</main>

<%- include('./includes/footer') %>